<!--
 * @Descripttion: 
 * @version: 
 * @Author: Hongyu
 * @Date: 2022-12-05 10:29:08
 * @LastEditors: Hongyu
 * @LastEditTime: 2022-12-05 10:32:44
-->
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <style type="text/css">
      html,body{
        height: 100%
      }
      body {
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
     .root {
        display: flex;
        height: 100%;
        flex-direction: column;

     }
     .header {
      min-height: 100px;
      background-color: aquamarine;
     }
     .content {
      flex: 1;
      background-color: lightcoral;
     }
     .footer {
      min-height: 100px;
      background-color: aquamarine;
     }
  </style>
  </head>
  <body>
    <div class="root">
      <div class="header"></div>
      <div class="content"></div>
      <div class="footer"></div>
    </div>
  </body>
</html>